<!DOCTYPE html>
<html>

<head>
  <title>drinkable</title>
  <link rel="stylesheet" href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <div class='drinkable'>
          <a href="/users/{{userId}}/beverages">
        <img src="http://i.imgur.com/JhUJoD6.png"></img>
          </a>
        </div>
        <ul class='slogan'>
          A Way to Remember the Drinks You Had <br>
          During a Night That You May Not Remember
        </ul>
      </div>
    </div>
</header>

<body>
  <div class='container'>
    {{{body}}}
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
  <script type='text/javascript' src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>