body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.row {
  display: flex;
  text-align: center;
  align-content: center;
  justify-content: center;
}
.logo {
  margin: 5px;
}
img {
    width: 100%;
    height: auto;
}