body {
  background: black;
  background-image: url("http://i.imgur.com/HAMVzaJ.jpg?2");
  color: white;
}

.container {
  background: rgba(0,0,0,.5);
  padding: 10px;
}

.show-list {
  padding: 10px;
}

a { 
  color: inherit; 
}

.row {
  display: flex;
  text-align: center;
  align-content: center;
  justify-content: center;
  padding: 20px;
  margin: 0;
}

.logo {
  margin: 5px;
}

.intro {
  text-align: center;
  font-weight:600;
  margin: 0 auto;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight:400;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.center {
  text-align: center;
}

.user-names {
  font-size: 20px;
  font-weight:500;
}

.dropdown-menu {
  left: 50%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0);
  font-size: 20px;
  color: black;
}

.dropdown-toggle {
  margin: 5px;
  font-size: 20px;
  font-weight:500;
  background-color: rgba(50, 50, 50,.5);
  color: rgba(53,210,53,1);
  border: solid white 1px;
}

.cancel-button {
  margin: 5px;
  font-size: 20px;
  font-weight:500;
  background-color: rgba(50, 50, 50,.5);
  color: white;
  border: solid white 1px;
}

.delete-button {
  margin:5px;
  font-size: 20px;
  font-weight:700;
  background-color:rgba(255,30,30,.6);
  color: white;
  border: solid white 1px;
}

.navbar-toggle {
  margin-top: 25px;
}

.slogan {
  padding: 0;
  text-align: center;
}

.row img {
  width: 100%;
  height: auto;
}

.main-header {
  padding: 0 15px;
  text-align: center;
}

.index-user-name {
  font-size: 25px;
  font-weight:500;
  background-color: rgba(50, 50, 50,.3);
  color: white;
  border: solid white 1px;
  padding: 5px;
  border-radius: 3%;
  margin-top: 10px;
}

.navbar {
  margin-bottom: 5px;
  background-color: rgba(0,0,0,.3);
  border: 0px;
}

.nav {
  text-align: center;
}

li {
  font-size: 18px;
}

.drinkable {
  margin-top: 10px;
}

.drinkable h1 {
  margin: 0;
  font-size:4.5em;
  font-weight:500;
}

h2 {
  margin: 0;
  display: inline-block;
}

p {
  font-size: 22px;
}

.bottle {
  padding: 0;
  width: 27px;
  margin-left: 5px;
  display: inline-block;
}

.manImg {
  width: 100%;
  height: 100%;
  margin-bottom: 12px;
}

.form {
  background:rgba(form-bg,.9);
  padding: 40px;
  max-width:600px;
  margin: 0 auto;
  border-radius:br;
  box-shadow:0 4px 10px 4px rgba(form-bg,.3);
}

.form h1 {
  text-align: center;
}

.flex-item {
  background-size: contain;
  max-width: 500px;
  width:28%;
  height: 300px;
  display: block;
  float:left;
  border: solid black 2px;
}

.show-row {
  margin-bottom:1em;
}

.show-content  {
  display: flex;
  list-style: none;
  justify-content: center;

}
.user-info {
  display: flex;
  white-space:nowrap;
}

.user-info li {
  display: inline;
}

.new-drink {
  text-align: center;
  font-weight: 500;
}

.new-drink h2 {
  font-weight: 800;
  background-color: rgba(0,0,0,.5); 
  margin-bottom: 15px;
  color: white;
}

.form h1 {
  margin: 0;
}

.new-beverage label {
  font-weight: 600;
  font-size: 16px;
 }

.beverage-container {
  background: rgba( 255,255,255,.1);
  padding: 10px;
  border-radius: 25px;
 }

.show-beverage-container {
  padding: 0 10px;
  border-radius: 25px;
  margin-top: 15px
 }

.show-beverage-container p {
  font-size: 17px;
 }

.beverage-container li {
  list-style: none;
 }

 .user-show-container {
  text-align: center;
  padding: 10px;
  border-radius: 25px;
  margin-top: 5px;
 }

.show-container {
  text-align: center;
  background: rgba( 255,255,255,.1);
  padding: 10px;
  border-radius: 25px;
  margin-top: 5px;
 }

.user-show-container h2 {
  font-weight: 800;
  font-size: 60px;
  color: rgba(53,210,53,1);
  border: solid white 3px;
  padding: 10px;
  background-color: rgba(255,255,255,.1);
  border-radius: 7%;
 }

.title {
  font-weight: 500;
  font-size: 60px;
  color: white;
 }

.get-ready {
  color: rgba(255, 255, 255, 1);

 }

.go-back {
  margin: 5px;
  font-size: 20px;
  font-weight:500;
  background-color: rgba(255,255,255,.8);
  color: red;
  border: solid white 1px;
 }
 
.beverage-container:hover{
  color: white;
 }

.beverage-name {
  font-size: 24px;
  font-weight: 500;
 }

.logo-divide {
  margin: 1px;
 }

.user-email {
  font-size: 20px;
 }

.form-group {
  max-width: 400px;
  text-align: left;
  margin: 0 auto;
 }

.new-beverage {
  text-align: center;
 }

 .logo-title h2 {
  font-size: 24px;
  margin: 5px;
 }

@media (max-width: 500px) {

  body {
    text-align: center;
  }

 .logo-title h2 {
  font-size: 16px;
  margin-top: 8px;
 }

  .dropdown-toggle {
    margin: 5px
  }

  ul {
    padding-left: 0px;
  }

}