<header class='main-header'>
</header>

<div class='row'>
    <div class='col-sm-4, beer, logo'>
        <a href="/users/{{user._id}}/beer"><img src="http://i.imgur.com/YdVAw4D.png"/></a alt="beer"/>
        <div class='logo-title'>
            <h2> Your Beer </h2>
        </div>
    </div>
    <div class='col-sm-4, wine, logo'>
        <a href="/users/{{user._id}}/wine"><img src="http://i.imgur.com/vpsM6Uz.png"/></a alt="wine"/>
        <div class='logo-title'>
            <h2> Your Wine </h2>
        </div>
    </div>
    <div class='col-sm-4, spirits, logo'>
        <a href="/users/{{user._id}}/spirits"><img src="http://i.imgur.com/yeONCWL.png"/></a alt="spirits"/>
        <div class='logo-title'>
            <h2> Your Spirits </h2>
        </div>
    </div>
</div>
 <div class="new-drink">
     <h2 class='btn btn-default, dropdown-cancel'><a href="/users/{{user._id}}/beverages/new">Add A New Drink</a></h2>
     <br>
     <a href="/users"><div>Back to Users</div></a>