<div class='intro'>
<h1 class='title'>dr<span class='bottle'>
        <img class="manImg" src="http://nobacks.com/wp-content/uploads/2014/11/Wine-Bottle-6-186x500.png"></img>
        </span>nkable</h1>
<div class='center'>
<ul class='about'>
    <li>Track Beer, Wine, and Spirits that you have enjoyed - or did not enjoy</li>
    <li>Save your thoughts about the drink you can read in the future</li>
    <li>When in doubt, refer back to Your List and remember what you drank</li>
</ul>
</div>
</div>
<br>
<div class="get-started, center">
<h2 class='get-ready'>Ready to get started?</h2>
<div class='user-names'>
<p class='get-ready'>Click Your Username or Create a New User</p>
<div class="dropup">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Select Your Profile
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    {{# each userList}}
            <li>
            <a href="/users/{{_id}}">{{first_name}}  {{last_name}}</a>
            </li>
            <li role="separator" class="divider"></li>
    {{/ each}}
    <div><a href="/users/new">Create a User</a></div>
  </ul>
</div>