<div class='intro'>
<p>A Way to Remember the Drinks You Had During a Night That You May Not Remember</p>
</div>
<div>
<ul>
    <li>Track Beer, Wine, and Spirits that you have enjoyed, or did not enjoy</li>
    <li>Save your thoughts about the drink you can read in the future</li>
    <li>When in doubt, refer back to Your List and remember what you drank</li>
</ul>
</div>
<br>
<h1>Ready to get started?</h1>

<ul>
    {{# each userList}}
        <li>
            <div><a href="/users/{{_id}}">
            <div>{{first_name}}  {{last_name}}</div>
            </a></div>
        </li>
        <br>
    {{/ each}}
</ul>

<div><a href="/users/new">Create a New User</a></div>